.dashboard-layout {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background-color: #FAFAFA;
}
.container {
  width: 100vw;
  max-width: 840px;
  padding: 0px 20px 100px 20px;
  z-index: 3;
}

.decor {
  position: absolute;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 1;
  background-size: contain;
}
.decor-top {
  top: 0;
  left: 0;
  width: 48vw;
  height: 26vw;
  background-image: url("/Decor1.webp");
  background-position: top left;
}
.decor-botom {
  bottom: 0;
  right: 0;
  width: 14.5vw;
  height: 25.5vw;
  background-image: url("/Decor2.webp");
  background-position: bottom right;
}
